<div class="main">
    <div class="headline">
        <h1>Add Task</h1>
    </div>

    <form (ngSubmit)="addTask()">
        <div class="left">
            <div class="title"><span class="black">Title</span><span class="red">* required</span></div>
            <input type="text" placeholder="Enter a title" [(ngModel)]="title" [ngModelOptions]="{standalone: true}"
                (blur)="isTitleTouched = true">
            <div *ngIf="isTitleTouched && title === ''" class="error">
                Title is required
            </div>
            <div class="title ma-to-40"><span class="black">Description</span><span class="red">* required</span></div>
            <textarea type="text" placeholder="Enter a description" rows="6" [(ngModel)]="description"
                [ngModelOptions]="{standalone: true}" (blur)="isDescriptionTouched = true"></textarea>
            <div *ngIf="isDescriptionTouched && description === ''" class="error">
                Description is required
            </div>
            <div class="relative contacts">
                <div class="title ma-to-40"><span class="black">Assigned to</span></div>
                <input type="text" placeholder="Select contacts to assign" style="margin-bottom: 10px;" disabled>
                <img src="./../../assets/img/dropdown-arrow.png" class="absolute arrow" *ngIf="!contactListOpen"
                    (click)="toggleContactList()">
                <img src="./../../assets/img/close.png" class="absolute arrow" *ngIf="contactListOpen"
                    (click)="toggleContactList()">
                <div class="drop-menu-contacts" *ngIf="contactListOpen">
                    <div class="contact-box" *ngFor="let contact of contacts" (click)="toggleContactSelection(contact)"
                        [ngClass]="{'selected': isSelected(contact)}">
                        <div class="name-box">
                            <div class="avatar" [ngStyle]="{'background-color': contact.bgColor}">
                                {{getInitials(contact.name)}}</div>
                            <span class="cont-name">{{ contact.name }}</span>
                        </div>
                        <input type="checkbox" [checked]="isSelected(contact)"
                            (click)="toggleContactSelection(contact, $event)">
                    </div>
                </div>
                <div class="selected-contacts" *ngIf="selectedContacts.length >= 1">
                    <div class="avatar" [ngStyle]="{'background-color': contact.bgColor}"
                        *ngFor="let contact of selectedContacts">{{getInitials(contact.name)}}</div>
                </div>
            </div>
        </div>
        <div class="border"></div>
        <div class="right">
            <div class="title"><span class="black">Due date</span><span class="red">* required</span></div>
            <input type="date" [attr.min]="minDate" (change)="onDateChange($event)" [(ngModel)]="dateValue"
                [ngModelOptions]="{standalone: true}" (blur)="isDateTouched = true">

            <div class="title ma-to-40"><span class="black">Prio</span></div>
            <div class="btn-box">
                <button class="prio-btn" [ngClass]="{'low-selected': prioSelected === 'low'}"
                    (click)="togglePriority('low')" type="button">Low <img src="./../../assets/img/low_green.svg"
                        *ngIf="prioSelected !== 'low'"><img src="./../../assets/img/low_white.svg"
                        *ngIf="prioSelected === 'low'"></button>
                <button class="prio-btn" [ngClass]="{'medium-selected': prioSelected === 'medium'}"
                    (click)="togglePriority('medium')" type="button">Medium <img
                        src="./../../assets/img/medium_yellow.svg" *ngIf="prioSelected !== 'medium'">
                    <img src="./../../assets/img/medium_white.svg" *ngIf="prioSelected === 'medium'"> </button>
                <button class="prio-btn" [ngClass]="{'urgent-selected': prioSelected === 'urgent'}"
                    (click)="togglePriority('urgent')" type="button">Urgent <img src="./../../assets/img/urgent_red.svg"
                        *ngIf="prioSelected !== 'urgent'"><img src="./../../assets/img/urgent_white.svg"
                        *ngIf="prioSelected === 'urgent'"></button>
            </div>
            <div class="relative contacts">
                <div class="title ma-to-40"><span class="black">Category</span><span class="red">* required</span></div>
                <input type="text" placeholder="Select Task category" [value]="selectedCategory"
                    (blur)="isCategoryTouched = true">
                <img src="./../../assets/img/dropdown-arrow.png" class="absolute arrow" (click)=" toggleCategoryList()">

                <div class="drop-menu-category" *ngIf="categoryListOpen">
                    <li [ngClass]="{'selected': selectedCategory === 'user-story'}"
                        (click)="selectCategory('User Story')">User Story</li>
                    <li [ngClass]="{'selected': selectedCategory === 'technical-task'}"
                        (click)="selectCategory('Technical Task')">Technical Task</li>
                </div>
                <div *ngIf="isCategoryTouched && selectedCategory === ''" class="error">
                    Category is required
                </div>
                <div class="title ma-to-40"><span class="black">Subtasks</span></div>
                <div class="relative">
                    <input type="text" placeholder="Add new subtasks" minlength="5" #subtaskInput><img
                        src="./../../assets/img/plus-sign.png" class="absolute plus-sign" (click)="addSubtask()">
                </div>
                <div class="subtask-box" *ngIf="addedSubtasks.length > 0">
                    <div class="sub-content" *ngFor="let subtask of addedSubtasks">
                        <li *ngIf="currentSubtask !== subtask">{{ subtask }}</li>
                        <input *ngIf="currentSubtask === subtask" type="text" [(ngModel)]="editedSubtaskValue"
                            placeholder="{{subtask}}" class="edit-input" [ngModelOptions]="{standalone: true}">
                        <div class="icons">
                            <img src="./../../assets/img/edit-pencil.png" (click)="editSubtask(subtask)"
                                *ngIf="currentSubtask !== subtask">
                            <img src="./../../assets/img/checked.png" (click)="saveEditedSubtask()"
                                *ngIf="currentSubtask === subtask">
                            <div class="border"></div>
                            <img src="./../../assets/img/delete.png" (click)="deleteSubtask(subtask)">
                        </div>
                    </div>
                </div>

                <div class="buttons ma-to-40">
                    <button class="clear">Clear</button>
                    <button class="create" type="submit" [ngClass]="{'disabled': !isFormValid()}"
                        [disabled]="!isFormValid()">Create Task</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!----------------------------  Message for adding task successfully  ------------------------------------->
<div class="overlay" *ngIf="isTaskAdded">
    <div class="message">
        <div class="content">Task added <span class="green">successfully</span>!
        </div>
    </div>
</div>