.main {
    position: relative;

    .box {
        height: 250px;
        width: 450px;
        background-color: rgb(51, 49, 49);
        display: flex;
        justify-content: center;
        align-items: center;

        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 35px;

            span {
                font-size: 25px;
                font-weight: 500;
                color: white;
                text-align: center;
            }

            .delete {
                color: rgb(228, 8, 8);
                margin: 0;
            }

            .btn {
                display: flex;
                gap: 45px;

                button {
                    font-size: 22px;
                    font-weight: 500;
                    padding: 12px;
                    background-color: rgb(27, 23, 23);
                    color: white;
                    text-align: center;
                    border-radius: 8px;
                    border: 1px solid white;
                    cursor: pointer;
                }

                .yes {
                    &:hover {
                        background-color: greenyellow;
                        border-color: greenyellow;
                    }
                }

                .no {
                    &:hover {
                        background-color: red;
                        border-color: red;
                    }
                }
            }
        }

    }
}

.hidden {
    display: none;
}


/* Container für die gesamte Nachricht */
.message {
    position: fixed; /* Position fixed so that it stays on top of other elements */
    top: -200px; /* Startposition außerhalb des sichtbaren Bereichs */
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    color: white;
    background-color: rgb(51, 49, 49);
    border-radius: 8px;
    opacity: 0; /* Initially hidden */
    animation: slideDown 0.5s forwards, slideUp 0.5s 3.5s forwards; /* Slide down for 0.5s, wait 3.5s, then slide up */
    .content{
        display: flex;
        gap: 8px;
    }
}

/* Define the slide down animation */
@keyframes slideDown {
    0% {
        top: -200px;
        opacity: 0;
    }
    100% {
        top: 20px; /* Final position visible on the screen */
        opacity: 1;
    }
}

/* Define the slide up animation */
@keyframes slideUp {
    0% {
        top: 20px;
        opacity: 1;
    }
    100% {
        top: -200px;
        opacity: 0;
    }
}

/*******************************  Responsive design message  ******************************/
@media(max-width:500px){
.box{
    width: 370px !important;
}
.content{
    span{
        font-size: 20px !important;
    }
}
.btn{
    button{
        font-size: 18px !important;
        padding: 10px !important;
    }
}
}
@media(max-width:410px){
    .box{
        width: 310px !important;
        height: 220px !important;
    }
    .content{
        span{
            font-size: 16px !important;
        }
    }
}