$bg-color: #f6f7f8;
$color: #D1D1D1;
$blue: #29ABE2;
$dark-blue: #293647;


.top {
    width: 450px;
    height: 150px;
    display: flex;
    flex-direction: column;
    background-color: $dark-blue;
    padding: 28px;
    position: relative;

    .avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        position: absolute;
        top: 150px;
        left: 200px;
        padding: 32px;
        border-radius: 100%;
        border: 1px solid white;
        width: 50px;

        .initials {
            font-size: 45px;
            font-weight: 500;
        }

    }

    .headline {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;

        h2 {
            font-size: 56px;
            font-weight: 600;
            color: white;
            margin: 0;
        }

        .close {
            color: white;
            font-size: 25px;
            font-weight: 500;
            position: absolute;
            right: 25px;
            top: 25px;
            cursor: pointer;

            &:hover {
                color: $blue;
            }
        }
    }

    span {
        color: white;
        font-size: 32px;
        margin-bottom: 8px;
    }

    .border {
        width: 150px;
        height: 4px;
        background-color: $blue;
    }
}

.bottom {
    display: flex;
    flex-direction: column !important;
    background-color: white;
    padding: 28px;
    width: 450px;
    margin-top: 40px;

    mat-dialog-content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        overflow: hidden;
    }

    .input-box {
        position: relative;

        input {
            border: 1px solid $color;
            color: #474646;
            padding: 12px;
            border-radius: 10px;
            outline: none;
            font-size: 22px;
            width: 100%;
            cursor: pointer;
        }

        img {
            position: absolute;
            right: 16px;
            top: 16px;
            height: 18px;
            width: 18px;
            object-fit: contain;
        }
    }

    mat-dialog-actions {
        display: flex;
        justify-content: space-between;
        gap: 12px;

        .close-btn {
            color: $dark-blue;
            padding: 12px;
            background-color: white;
            border-radius: 10px;
            font-size: 17px;
            font-weight: 500;
            cursor: pointer;

            &:hover {
                background-color: $dark-blue;
                color: white;
            }
        }

        .add-btn {
            color: white;
            padding: 12px;
            background-color: $blue;
            border-radius: 10px;
            font-size: 17px;
            font-weight: 500;
            border-color: #29ABE2;
            cursor: pointer;

            &:hover {
                background-color: $dark-blue;
                color: white;
                border-color: $dark-blue;
            }
        }
    }

    .error {
        color: red;
        font-size: 14px;
        margin-top: -15px;

        p {
            margin: 0;
        }
    }
}

.hidden {
    display: none;
}

/* Container für die gesamte Nachricht */
.message {
    position: fixed;
    /* Position fixed so that it stays on top of other elements */
    top: -200px;
    /* Startposition außerhalb des sichtbaren Bereichs */
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    color: white;
    background-color: rgb(51, 49, 49);
    border-radius: 8px;
    opacity: 0;
    /* Initially hidden */
    animation: slideDown 0.5s forwards, slideUp 0.5s 3.5s forwards;

    /* Slide down for 0.5s, wait 3.5s, then slide up */
    .content {
        display: flex;
        gap: 8px;
    }
}

/* Define the slide down animation */
@keyframes slideDown {
    0% {
        top: -200px;
        opacity: 0;
    }

    100% {
        top: 20px;
        /* Final position visible on the screen */
        opacity: 1;
    }
}

/* Define the slide up animation */
@keyframes slideUp {
    0% {
        top: 20px;
        opacity: 1;
    }

    100% {
        top: -200px;
        opacity: 0;
    }
}

/****************************************  Responsive design for edit contact dialog  *******************************************/
@media(max-width:560px) {

    .top,
    .bottom {
        width: 400px !important;
    }

    .top {
        span {
            font-size: 23px !important;
        }
    }

    h2 {
        font-size: 43px !important;
    }

    .avatar {
        left: 180px !important;
        padding: 25px !important;
        width: 50px !important;

        .initials {
            font-size: 35px !important;
        }
    }

    .bottom {
        margin-top: 5px !important;
    }
}

@media(max-width:490px) {

    .top,
    .bottom {
        width: 315px !important;
    }

    h2 {
        font-size: 38px !important;
    }

    .top {
        span {
            font-size: 19px !important;
        }
    }

    .avatar {
        left: 131px !important;
        padding: 20px !important;
    }
}

@media(max-width:405px) {

    .top,
    .bottom {
        width: 250px !important;
    }

    h2 {
        font-size: 30px !important;
    }

    .headline {
        span {
            font-size: 15px !important;
        }
    }

    .avatar {
        left: 120px !important;
        padding: 15px !important;
        top: 160px !important;
    }

    .input-box {
        input {
            font-size: 14px !important;
        }
    }
}